:root {
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --body-bg-color: hsl(212, 45%, 89%);
    --text: hsl(216, 15%, 48%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--black);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    height: 500px;
    padding: 0.5em;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: 5px 5px 10px rgba(0.2, 0.3, 0.3, 0.3);
    border-radius: 15px;
    text-align: center;
}

.qr-code img {
    width: 98%;
    border-radius: 15px;
}

.qr-code__info {
    margin-bottom: 1em;
    margin-top: 1em;
}

.qr-code__description {
    font-size: 1rem;
    color: var(--text);
    margin-top: 0.5em;
    padding: 0.7em;
}

/* Media Query para tablets */
@media (min-width: 768px) {
    .container {
      max-width: 720px;
      padding: 1em;
    }
}
  
/* Media Query para desktops */
@media (min-width: 1024px) {
    .container {
        max-width: 1440px;
        padding: 1em;
    }
}